<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peneira - Dicionário com Filtros</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="icon" href="/docs/dicionario-icon/logo-words-all-black-80px.png" type="image/x-icon">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        body {
            background-color: #FDFFDB;
            font-family: Poppins,serif;
        }
        p {
            color: #57634E;
            text-align: justify;
        }
        span {
            color: #3d4637;
            font-family: Poppins,serif;
        }
        h2 {
            color: #1462A4;
            font-weight: bold;
        }
        a {
            color: #47821B;
            text-decoration: none;
        }
        code {
            background-color: #DCDFA9;
            padding: 2px 4px;
            border-radius: 4px;
            font-family: Poppins,serif;
            color: #47821B;
        }
    </style>
</head>
<body>
<nav class="p-2" style="background-color: #F3B61DFF;">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center gap-3" th:href="${baseUrl + '/'}">
            <img src="/docs/dicionario-icon/logo-words-80px.png"
                 alt="Logo"
                 width="60"
                 height="60">

            <div class="d-flex flex-column lh-sm">
                <span class="fs-2 fw-bold" style="color:  #FDFFDB">PENEIRA</span>
                <span class="fs-6 fst-italic fw-light" style="color:  #FDFFDB">
                    Dicionário com Filtros
                </span>
            </div>
        </a>
    </div>
</nav>
<main class="container my-4">

    <div class="p-3">
        <p>
            WebService para consulta de palavras do dicionário português brasileiro.
        </p>
    </div>
    <div class="p-3">
        <h2>
            Acessando o WebService
        </h2>
        <p>
            Para acessar o WebService, sem utilizar filtros, você deve acessar o endpoint <code>/api/v1/words</code>.<br><br>
            Exemplo de consulta de palavra aleatória:<br>
            <a th:href="${baseUrl + '/api/v1/words'}"
               th:text="${displayBaseUrl + '/api/v1/words'}"></a>
        </p>
    </div>
    <div class="p-3">
        <h2>
            Filtros das Palavras
        </h2>
        <p>A consulta das palavras aleátorias tem diversos filtros de buscas, sendo eles:</p>
        <p><code>?charSize</code>  - Retorna uma palavra aleatória contendo os caracteres desejados</p>
        <div class="p-3 border rounded-2 w-75" style="background: #DCDFA9;">
            <div class="d-flex justify-content-end">
                <a th:href="${baseUrl + '/api/v1/words?charSize=5'}"
                   th:text="${displayBaseUrl + '/api/v1/words?charSize=5'}">
                </a>
            </div>
            <p>"word": "amigo"</p>
        </div>
        <br>
        <p><code>?maxChar</code>  - Retorna uma palavra aleatória contendo o máximo de caracteres</p>
        <div class="p-3 border rounded-2 w-75" style="background: #DCDFA9;">
            <div class="d-flex justify-content-end">
                <a th:href="${baseUrl + '/api/v1/words?maxChar=4'}"
                   th:text="${displayBaseUrl + '/api/v1/words?maxChar=4'}">
                </a>
            </div>
            <p>"word": "cão"</p>
        </div> <br>
        <div class="p-3 border rounded-2 w-75" style="background: #DCDFA9;">
            <div class="d-flex justify-content-end">
                <a th:href="${baseUrl + '/api/v1/words?maxChar=2'}"
                   th:text="${displayBaseUrl + '/api/v1/words?maxChar=2'}">
                </a>
            </div>
            <p>"word": "lã"</p>
        </div><br>
        <p><code>?minChar</code>  - Retorna uma palavra aleatória contendo o minimo de caracteres</p>
        <div class="p-3 border rounded-2 w-75" style="background: #DCDFA9;">
            <div class="d-flex justify-content-end">
                <a th:href="${baseUrl + '/api/v1/words?minChar=4'}"
                   th:text="${displayBaseUrl + '/api/v1/words?minChar=4'}">
                </a>
            </div>
            <p>"word": "avião"</p>
        </div> <br>
        <div class="p-3 border rounded-2 w-75" style="background: #DCDFA9;">
            <div class="d-flex justify-content-end">
                <a th:href="${baseUrl + '/api/v1/words?minChar=2'}"
                   th:text="${displayBaseUrl + '/api/v1/words?minChar=2'}">
                </a>
            </div>
            <p>"word": "cavaco"</p>
        </div>
    </div>
    <div class="p-3 lh-lg ">
        <h2>Validação</h2>
        <p>
            Alguns filtros podem ser combinados com a utilização do caractere <code>&</code>.
            Exemplo: <code>?minChar</code> e <code>?maxChar</code> podem ser combinados, ficando assim
            <code>
                <a target="_blank" th:href="${baseUrl + '/api/v1/words?minChar=2&maxChar=4'}"
                   th:text="${displayBaseUrl + '/api/v1/words?minChar=2&maxChar=4'}">
                </a>
            </code>.
            Dessa forma, o WebService retornará uma palavra entre 2 e 4 letras.
            Mas tenha cuidado para não fazer consultas com filtros conflitantes!
        </p>
        <p>
            Quando a consulta é feita com filtros conflitantes, ela é invalidada.
            Exemplo: <code>?minChar</code> maior que <code>?maxChar</code>, ou utilizar
            <code>?minChar</code> ou <code>?maxChar</code> junto com <code>?charSize</code>.
            Nesses casos, o código de retorno da consulta será <strong>400</strong> (Bad Request).
            Antes de acessar o WebService, certifique-se de que os filtros não irão conflitar entre si.
        </p>
    </div>
    <div class="p-3">
        <h2>Deseja contribuir com esse projeto?</h2>
        <p>
            Acesse o link do github do Peneira e contribua!
        </p>
        <a href="https://github.com/oryanend/dicionario-portugues-brasileiro-filtro/" target="_blank">
            Link do Projeto no GitHub
        </a>
    </div>
</main>
<!-- Footer -->
<footer class="footer">
    <div class="container ">
        <div class="row align-items-center g-0 border-top py-2">
            <div class="col-md-6 col-12 text-center text-md-start">
                 <span>© <span id="copyright">
                     <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
                 </span>Peneira</span>
            </div>
            <div class="col-12 col-md-6">
                <nav class="nav nav-footer justify-content-center justify-content-md-end">
                    <a class="nav-link active ps-0" th:href="${baseUrl + '/status'}">
                        Status
                    </a>
                    <a class="nav-link" href="https://github.com/oryanend"  target="_blank">GitHub </a>
                    <a class="nav-link" href="https://oryanend.com.br"  target="_blank">Portfólio</a>
                </nav>
            </div>
        </div>
    </div>
</footer>
</body>
</html>