name: Automated Tests

on: pull_request

jobs:
  tests:
    name: Surefire Maven Tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - run: mvn test
